/* GENERAL STYLES */
:root {
  font-family: sans-serif;
  --primary-blue: hsl(240, 50%, 4%);
  --secondary-blue: hsl(240, 50%, 10%);
}

body,
html {
  min-height: 100vh;
}

body {
  background-color: var(--primary-blue);
  color: white;
}

h1,
h2 {
  letter-spacing: 1px;
}

:focus {
  outline: 2px dotted white;
  outline-offset: 1px;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* UTILITIES */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.spinner {
  display: inline-block;
  border-color: currentColor;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-radius: 50%;
  animation: spin 1s infinite both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CUSTOM TOGGLE */
.checkbox-toggle-label {
  cursor: pointer;
}

.checkbox-toggle-button {
  --toggle-height: 1rem;
  --padding: 0.1rem;
  --ball-height: calc(var(--toggle-height) - var(--padding) * 2);
  display: inline-block;
  height: var(--toggle-height);
  width: 2.5rem;
  border-radius: 4rem;
  position: relative;
  background-color: white;
  /* 
  this is needed so when the label is clicked
  the checkbox is toggled 
  */
  pointer-events: none;
}
.checkbox-toggle-button.active .checkbox-toggle-ball {
  left: calc(100% - var(--padding) - var(--ball-height));
}
.checkbox-toggle-button.focused {
  outline: 2px dotted white;
  outline-offset: 1px;
}

.checkbox-toggle-ball {
  position: absolute;
  left: var(--padding);
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  top: 50%;
  transform: translateY(-50%);
  height: var(--ball-height);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-blue);
}

.alert-paragraph {
  text-align: center;
  padding: 0.3rem;
  border-width: 1px;
  border-style: solid;
}
.alert-paragraph.calm {
  border-color: #fff;
  background-color: #000;
}
.alert-paragraph.urgent {
  background-color: hsla(0, 100%, 50%, 0.1);
  border-color: #f00;
  color: hsl(0, 100%, 80%);
}

.question-difficulty {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: bold;
}
.question-difficulty.easy {
  background-color: hsl(240, 100%, 28%);
  color: white;
}
.question-difficulty.medium {
  background-color: hsl(60, 100%, 65%);
  color: black;
}
.question-difficulty.hard {
  background-color: hsl(0, 100%, 25%);
  color: white;
}

.alert-container {
  background-color: #600;
  border: 3px solid red;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem;
  opacity: 0;
  position: fixed;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
}

/* STRUCTURE */
#root {
  padding-inline: 2rem;
  max-width: 500px;
  margin-inline: auto;
}

header {
  margin-block: 5rem 3rem;
}
header h1 {
  text-align: center;
  margin-bottom: 2rem;
}

footer {
  margin-block: 3rem;
  text-align: center;
}
footer a {
  color: white;
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
InitialScreen */
.initial-form p:first-of-type {
  font-size: 0.7rem;
  margin-bottom: 1rem;
}
.initial-form .form-field {
  margin-bottom: 0.6rem;
}
.initial-form label {
  font-size: 0.8rem;
}
.initial-form label:not([for=time-limit-checkbox]) {
  display: block;
  margin-bottom: 0.2rem;
}
.initial-form select option {
  font-size: 0.7rem;
}
.initial-form select,
.initial-form #number-of-questions {
  border: 1px solid white;
  width: 100%;
  background-color: var(--secondary-blue);
  color: white;
  display: block;
  padding: 0.5rem;
  font-size: 0.8rem;
}
.initial-form select:hover, .initial-form select:focus,
.initial-form #number-of-questions:hover,
.initial-form #number-of-questions:focus {
  filter: brightness(1.3);
}

/* 
################################################################################################################
################################################################################################################
################################################################################################################
QuestionsSequence */
.question-wrapper .question-metadata {
  margin-bottom: 1rem;
}
.question-wrapper .question-category,
.question-wrapper .question-difficulty {
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
}
.question-wrapper .question-category {
  font-weight: bold;
  background-color: white;
  color: hsl(240, 50%, 10%);
}
.question-wrapper .question-difficulty {
  display: flex;
  align-items: center;
}
.question-wrapper .question,
.question-wrapper .answer {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 0.8rem 1.4rem;
}
.question-wrapper .question {
  margin-bottom: 1.2rem;
}
.question-wrapper .answers {
  list-style: none;
  margin-bottom: 2rem;
}
.question-wrapper .answers li + li {
  margin-top: 0.8rem;
}
.question-wrapper .answer {
  display: flex;
  gap: 0.6rem;
  cursor: pointer;
  position: relative;
}
.question-wrapper .answer:hover:not(.selected, .wrong, .correct) {
  background-color: hsla(0, 0%, 100%, 0.05);
}
.question-wrapper .answer.selected {
  outline: 3px solid white;
}
.question-wrapper .answer.correct {
  outline: 3px solid limegreen;
  background-color: hsla(120, 100%, 50%, 0.1);
}
.question-wrapper .answer.wrong {
  outline: 3px solid red;
  background-color: hsla(0, 100%, 50%, 0.1);
}
.question-wrapper .answer-icon {
  height: 25px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

/* ########################################################################################
########################################################################################
######################################################################################## 
Final screen*/
.quiz-finished-section,
.questions-section {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.quiz-finished-section h2,
.questions-section h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.quiz-finished-section {
  margin-bottom: 2rem;
  text-align: center;
  padding: 1.8rem;
}
.quiz-finished-section .out-of {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.quiz-finished-section .percentage {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.questions-section {
  padding: 1rem;
  font-size: 0.9rem;
}

.tablist {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.tablist li {
  width: 100%;
}

.tab {
  display: block;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  text-decoration: none;
  color: white;
  width: 100%;
  padding: 1rem 0;
}
.tab.active-tab {
  box-shadow: inset 0 -3px 0 white;
}

.question-list > li {
  margin-top: 1rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 1.2rem;
}
.question-list .question {
  margin-bottom: 1.5rem;
}
.question-list .question-difficulty {
  margin-bottom: 0.7rem;
}
.question-list .question-text {
  margin-bottom: 0.8rem;
}
.question-list .answer-list {
  margin-bottom: 1rem;
}
.question-list .answer {
  margin-block: 0.3rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  padding: 0.6rem;
}
.question-list .correct-answer,
.question-list .wrong-answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.question-list .answer-icon {
  height: 20px;
}
.question-list .correct-answer {
  background-color: hsla(120, 100%, 50%, 0.1);
  border: 3px solid limegreen;
  padding: 0.3rem 0.5rem;
  margin-bottom: 0.3rem;
}
.question-list .wrong-answer {
  background-color: hsla(0, 100%, 50%, 0.2);
  border: 3px solid red;
  padding: 0.3rem 0.5rem;
}/*# sourceMappingURL=index.css.map */